<div class="container">
	<form>	
	<h3>Crea una venta</h3>	
	<div class="form-row">
		<div class="form-group col-md-6"
			<select name="numeroDocumento" class="form-control" placeholder="usuario">
				<option>Usuarios</option>
			</select>
		</div>
		<div class="form-group col-md-6">
			<input type="text" name="fecha" class="form-control" placeholder="Fecha">
		</div>
	</div>		
	<div class="form-group">
		<input type="number" name="valor" class="form-control" placeholder="Valor">
	</div>
	<button class="btn btn-dark">crear</button>
	</form>
</div>