<div class="modal fade" id="modalLogin" tabindex="-1" role="dialog" aria-labelledby="modalLoginLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="modalLoginLabel">Ingresa</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form [formGroup] = "loginForm" (submit) = "doLogin()">
					<div class="form-group">						
						<input type="text" name="username" class="form-control" placeholder="Username" formControlName = "email">
					</div>	
					<div class="alert alert-danger" role="alert" *ngIf = "loginForm.controls.email.touched && loginForm.controls.email.errors ? loginForm.controls.email.errors.required : false">
						El email es requerido
					</div>
					<div class="form-group">						
						<input type="password" name="password" class="form-control" placeholder="Password" formControlName = "password">
					</div>	
					<div class="alert alert-danger" role="alert" *ngIf = "loginForm.controls.password.touched && loginForm.controls.password.errors ? loginForm.controls.password.errors.required : false">
						La contraseña es requerida.
					</div>
					<div class="alert alert-danger" role="alert" *ngIf = "loginError">
						Sus credenciales son incorrectas.
					</div>
					
					<button class="btn btn-dark" type="submit" [disabled]="loginForm.invalid">
						Ingresar
					</button>
			
				</form>	
			</div>
			<div class="modal-footer">
			</div>
		</div>
	</div>
</div>